<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>抖音解析</title>
	<link rel="shortcut icon" href="/static/images/TikTokDownloader.ico">
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>

</head>
<body>
<body class="is-preload">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.scrollex.min.js"></script>
    <script src="/static/js/jquery.scrolly.min.js"></script>
    <script src="/static/js/browser.min.js"></script>
    <script src="/static/js/breakpoints.min.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/index.js"></script>
    <header>
        <div class="main">
            <ul>
                <li class="index"><a href="#">首页</a></li>
				<li><a href="#solo">下载作品</a></li>
                
            </ul>
        </div>
        <div class="title">
            <h1><span style="color: crimson;">My</span> Homepage</h1>
        </div>
		
		
		
		
		
    </header>
	
	<section id="solo" class="wrapper style2 spotlights">
        <div class="inner">
            <h2>视频下载</h2>
            <div class="style1">
                <section>
                    <form id="solo_form" onsubmit="return false">
                        <div class="fields">
                            <div class="field half">
                                <label for="solo_url">请输入作品链接：</label>
                                <label>
                                    <input type="text" id="solo_url"/>
                                </label>
                                <br>
                                <ul class="actions">
                                    <li><input type="button" id="Button_input" class="button submit" value="读取剪贴板并粘贴至输入框"
                                               onclick="solo_input()">
                                    </li>
                                </ul>
                                
                                <ul class="actions">
                                    <li><input type="button" id="Button_Post" class="button submit" value="解析视频" onclick="solo_post()"></li>
                                               
                                              
                                </ul>
                                <div class="col-sm-12 mt-2">
                                    <label>抖音视频信息：</label>
                                    <div class="input-group mb-3">
                                      <span class="input-group-text">视频简介：</span>
                                      <input type="text" id="desc" readonly="readonly" class="form-control" />
                                      <button id="copyDescButton" class="btn btn-primary">复制</button>

                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">视频链接：</span>
                                        <input type="text" id="playApi" readonly="readonly" class="form-control" />
                                        <button id="copyPlayApiButton" class="btn btn-primary">复制</button>
                                        <button id="openLinkButton" class="btn btn-outline-secondary btn-sm">打开链接</button>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">原声链接：</span>
                                        <input type="text" id="acc" readonly="readonly" class="form-control" />
                                        <button id="copyAccButton" class="btn btn-primary">复制</button>
  
                                      </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                    <div class="container"></div>
                </section>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var openLinkButton = document.getElementById("openLinkButton");
            var playApiInputElement = document.getElementById("playApi");
            openLinkButton.addEventListener("click", function() {
            var link = playApiInputElement.value;
            openLinkWithoutReferer(link);
        });
  
function openLinkWithoutReferer(link) {
  var a = document.createElement("a");
  a.href = link;
  a.rel = "noreferrer";
  a.target = "_blank";
  a.click();
}
        });
      </script>
      
    
	
	
	
	
	
	
</body>
</html>