<!DOCTYPE HTML>
<html lang="zh-Hans-CN">
<head>
    <title>TikTokDownloader</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" href="static/images/TikTokDownloader.ico">
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/index.css"/>
    <noscript>
        <link rel="stylesheet" href="static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<header id="header">
    <a href="https://github.com/JoeanAmier/TikTokDownloader/releases/latest" target="_blank" class="title">TikTokDownloader</a>
</header>

<div id="wrapper">

    <section id="main" class="wrapper">
        <div class="inner">
            <h1 class="major">抖音作品下载地址提取</h1>
            <form onsubmit="return false">
                <div class="row gtr-uniform">
                    <div class="col-12">
                        <label for="link">请输入抖音作品链接：</label>
                        <input type="text" name="link" id="link" value=""/>
                    </div>
                    <br>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="button" class="button submit" value="读取剪贴板并粘贴至输入框"/></li>
                            <li><input type="button" class="button submit" value="提取地址"/></li>
                        </ul>
                    </div>
                    <div class="col-9 col-12-xsmall">
                        <input type="text" name="link" id="link" value=""/>
                    </div>
                    <div class="col-3 col-12-xsmall">
                        <input type="button" class="button submit" value="下载作品"/>
                    </div>
                    <div class="col-9 col-12-xsmall">
                        <input type="text" name="link" id="link" value=""/>
                    </div>
                    <div class="col-3 col-12-xsmall">
                        <input type="button" class="button submit" value="下载原声"/>
                    </div>
                    <div class="col-9 col-12-xsmall">
                        <input type="text" name="link" id="link" value=""/>
                    </div>
                    <div class="col-3 col-12-xsmall">
                        <input type="button" class="button submit" value="下载静态图"/>
                    </div>
                    <div class="col-9 col-12-xsmall">
                        <input type="text" name="link" id="link" value=""/>
                    </div>
                    <div class="col-3 col-12-xsmall">
                        <input type="button" class="button submit" value="下载动态图"/>
                    </div>
                </div>
            </form>
        </div>
    </section>

</div>

<footer id="footer" class="wrapper alt">
    <div class="inner">
        <ul class="menu">
            <li>开源项目: <a href="https://github.com/JoeanAmier/TikTokDownloader" target="_blank">TikTokDownloader</a>
            </li>
            <li>开源协议: <a href="https://github.com/JoeanAmier/TikTokDownloader/blob/master/license" target="_blank">GNU
                General Public License v3.0</a></li>
        </ul>
    </div>
</footer>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.scrollex.min.js"></script>
<script src="static/js/jquery.scrolly.min.js"></script>
<script src="static/js/browser.min.js"></script>
<script src="static/js/breakpoints.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/index.js"></script>

</body>
</html>
