<!DOCTYPE HTML>
<html lang="zh-Hans-CN">
<head>
    <title>TikTokDownloader</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" href="static/images/TikTokDownloader.ico">
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/index.css"/>
    <noscript>
        <link rel="stylesheet" href="static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<header id="header">
    <a href="https://github.com/JoeanAmier/TikTokDownloader/releases/latest" target="_blank" class="title">TikTokDownloader</a>
</header>

<div id="wrapper">

    <section id="main" class="wrapper">
        <div class="inner">
            <h1 class="major">抖音 / TikTok 作品下载地址提取</h1>
            <form id="single_form" onsubmit="return false">
                <div class="fields">
                    <div class="field half">
                        <label for="single_url">请输入抖音 / TikTok 作品链接：</label>
                        <label>
                            <input type="text" id="single_url"/>
                        </label>
                        <br>
                        <ul class="actions">
                            <li><input type="button" class="button submit" value="读取剪贴板并粘贴至输入框"
                                       onclick="single_input()">
                            </li>
                        </ul>
                        <ul class="actions">
                            <li><input type="button" class="button submit" value="获取下载链接"
                                       onclick="single_post()"></li>
                        </ul>
                        <label for="single_state">运行结果：</label>
                        <input id="single_state" type="text" readonly>
                        <br>
                        <ul class="actions">
                            <li><input type="button" class="button submit" value="下载视频"
                                       onclick="get_download()" id="download_url">
                            </li>
                            <li><input type="button" class="button submit" value="下载静态封面"
                                       onclick="get_origin()" id="origin_url">
                            </li>
                        </ul>
                        <ul class="actions">
                            <li><input type="button" class="button submit" value="下载原声"
                                       onclick="get_music()" id="music_url">
                            </li>
                            <li><input type="button" class="button submit" value="下载动态封面"
                                       onclick="get_dynamic()" id="dynamic_url">
                            </li>
                        </ul>
                        <ul class="actions">
                            <li><input type="button" class="button submit" value="显示/隐藏图集下载地址"
                                       onclick="get_images()" id="images_url">
                            </li>
                        </ul>
                        <div id="single_url_text" style="display: none;">
                        </div>
                    </div>
                    <div class="field half">
                        <label>作品预览：</label>
                        <span class="image fit" id="preview"><img
                                id="single_preview"
                                src="{{ preview }}"
                                alt="预览图"/></span>
                    </div>
                </div>
            </form>
        </div>
    </section>

</div>

<footer id="footer" class="wrapper alt">
    <div class="inner">
        <ul class="menu">
            <li>开源项目: <a href="https://github.com/JoeanAmier/TikTokDownloader" target="_blank">TikTokDownloader</a>
            </li>
            <li>开源协议: <a href="https://github.com/JoeanAmier/TikTokDownloader/blob/master/license" target="_blank">GNU
                General Public License v3.0</a></li>
        </ul>
    </div>
</footer>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.scrollex.min.js"></script>
<script src="static/js/jquery.scrolly.min.js"></script>
<script src="static/js/browser.min.js"></script>
<script src="static/js/breakpoints.min.js"></script>
<script src="static/js/util.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/index.js"></script>

</body>
</html>
