html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* Generic (also works for Chrome) */
}

body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#root{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}